
 #app {
    width: 50%;
    margin: 0 auto;
    text-align: center;
  }
  
  #task-input {
    width: 60%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
  }
  
  #priority-level {
    width: 20%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
  }
  
  button {
    width: 20%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  #filters button {
    background-color: #fff;
    color: #000;
  }
  
  #filters button:hover {
    background-color: #ccc;
  }
  
  #search {
    width: 60%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
  }
  
  p.completed {
    text-decoration: line-through;
    color: #ccc;
  }
  
  p.high {
    color: red;

  }
  
  p.medium {
    color: orange;
  }
  
  p.low {
    color: green;
  }
  
